RewriteEngine on
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}.php -f
# RewriteRule ^(.*)$ $1.php

# RewriteCond %{REQUEST_FILENAME}
# RewriteRule ^([^/\.]+)/([^/\.]+)?pages.php?id=$1

# Return 404 if original request is .php
# RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
# RewriteRule .* - [L,R=404]

 
 RewriteRule   ^centers/([0-9a-zA-Z_-]+)/([0-9]+) ShowCenters.php?dist_name=$1&center_id=$2 [NC,L] 
 RewriteRule   ^index index.php [NC,L] 
 RewriteRule   ^centers centers.php [NC,L] 
 RewriteRule   ^signin signin.php [NC,L] 
# RewriteRule   ^Functions Functions.php [NC] 
